ab*
/src/epik/ACD_CHEMBL_pka_short.log
/src/epik/ACD_CHEMBL_pka_short.mae.gz
/src/epik/ACD_CHEMBL_pka_short_pka.log
/src/epik/ACD_CHEMBL_pka_short_pka.mae.gz
/src/epik/ACD_CHEMBL_pka_short_pka.sdf.gz
/src/epik/slurm-4008259.out
